@import url(http://fonts.googleapis.com/css?family=Open Sans:300,400,800);

/* Resets taken from Less Framework
------*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

a img {border: 0;}

html>body { font-size: 16px;}

p {
  line-height: 1.5em;
  margin: 1.5em 0;
}
a {
  text-decoration: none;
  font-weight: 400;
  color: #107FC9;
  line-height: 1.5em;
}
a:visited {
  color: #107FC9;
}
hr {
  background-color: #C0C0C0;
  height: 1px;
}
h1 {
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 1.5em;
  margin-top: 1.5em;
}
h2 {
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1em;
}
header {
  height: 1.5em;
  text-align: right;
  background: #333;
}
nav {
  text-align: right;
}
nav a, nav a:visited {color: #fff;}
nav ul {list-style: none;}
nav ul li {
  display: inline;
  padding-right: 2em
}
footer {
  /*background: url(/images/vertical_rhythym_reverse.png) repeat;*/
  background-color: #333;
  min-height: 120px;
  padding: 24px;
  margin-top: 1.5em;
  color: #C0C0C0;
  background-image: linear-gradient(bottom, #222222 18%, #333333 59%, #333333 80%);
background-image: -o-linear-gradient(bottom, #222222 18%, #333333 59%, #333333 80%);
background-image: -moz-linear-gradient(bottom, #222222 18%, #333333 59%, #333333 80%);
background-image: -webkit-linear-gradient(bottom, #222222 18%, #333333 59%, #333333 80%);
background-image: -ms-linear-gradient(bottom, #222222 18%, #333333 59%, #333333 80%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.18, #222222),
	color-stop(0.59, #333333),
	color-stop(0.8, #333333)
);
}
footer h1 {color: #C0C0C0; margin-top: 0;}
footer img {
  display: inline;
  float: left;
  margin-right: 24px;
}
footer ul {
  list-style: none;
  margin-top: 1.5em;
}
footer figure {float: left;}
.left_bio {
  float: left;
}
.right_bio {
  display: block;
  float: left;}
}
/* Selection colours (easy to forget) */

::selection {background-color: #107FC9;}
::-moz-selection {background-color: #107FC9;}
img::selection {background: transparent;}
img::-moz-selection {background: transparent;}
body {-webkit-tap-highlight-color: #107FC9;}
/*  Default Layout: 992px. 
  Gutters: 24px.
  Outer margins: 48px.
  Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
  /*background: url(/images/vertical_rhythym.jpg) repeat;*/
  background: url(/images/background.jpg) repeat;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  color: #333;
  -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}
.post_container, .bio_container {
  width: 33em;
  margin: 0 auto;
}
.post_container  img {
  height: 312px;
  margin: 1.5em 0;
  box-shadow: 0 0 4px #666;
}
.read_more {
  float: right;
  clear: left;
  background: url(/images/continue_arrow.png) no-repeat;
  background-position: right;
  padding-right: 18px;
  margin-bottom: 1.5em;
}




/*  Tablet Layout: 768px.
  Gutters: 24px.
  Outer margins: 28px.
  Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
}



/*  Mobile Layout: 320px.
  Gutters: 24px.
  Outer margins: 34px.
  Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
  html>body { font-size: 14px;}
  p {
    font-size: 1em;
    line-height: 1.5em;
    }

  .post_container, .bio_container{
    width: 252px;
    margin 0 auto;
  }
  .post_container img {
    width: 100%;
    height: auto;
  }
  footer {
  padding: 12px;
  margin-top: 1.5em;
  }
}



/*  Wide Mobile Layout: 480px.
  Gutters: 24px.
  Outer margins: 22px.
  Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {

  .post_container, .bio_container {
    width: 436px;
    margin: 0 auto;
  }
  footer h1 {font-size: 1em;}
}

/*  Retina media query.
  Overrides styles for devices with a 
  device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {

  body {

  }

}
